<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Covid 19 | Dashboard</title>
    <!-- GLOBAL MAINLY STYLES-->
    <link href="/static/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/static/vendors/themify-icons/css/themify-icons.css" rel="stylesheet" />
    <!-- PLUGINS STYLES-->
    <link href="/static/vendors/jvectormap/jquery-jvectormap-2.0.3.css" rel="stylesheet" />
    <!-- THEME STYLES-->
    <link href="static/css/style.css" rel="stylesheet" />
    <!-- PAGE LEVEL STYLES-->
</head>

<body class="fixed-navbar">
    <div class="page-wrapper">
        <!-- START HEADER-->
        <header class="header">
            <div class="page-brand">
                <a class="link" href="index.html">
                    <span class="brand">Covid 19 Dashboard
        
                </a>
            </div>
            <div class="flexbox flex-1">
                <!-- START TOP-LEFT TOOLBAR-->
                <ul class="nav navbar-toolbar">
                <!-- END TOP-LEFT TOOLBAR-->
                
            </div>
        </header>
        <!-- END HEADER-->
        
        <div class="content-wrapper">
            <!-- START PAGE CONTENT-->
            <div class="page-content fade-in-up">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="ibox bg-success color-white widget-stat">
                            <div class="ibox-body">
                                <h2 class="m-b-5 font-strong">120 205</h2>
                                <div class="m-b-5">NEW CASES</div><i class="ti-alert widget-stat-icon"></i>
                                <div><i class="fa fa-level-up m-r-5"></i><small>0,26% higher</small></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="ibox bg-info color-white widget-stat">
                            <div class="ibox-body">
                                <h2 class="m-b-5 font-strong">43 553 9149 </h2>
                                <div class="m-b-5">CUMULATIVE CASES</div><i class="ti-alert widget-stat-icon"></i>
                                <div><i class="fa fa-level-down m-r-5"></i><small>-0,28% Lower</small></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="ibox bg-warning color-white widget-stat">
                            <div class="ibox-body">
                                <h2 class="m-b-5 font-strong">7082</h2>
                                <div class="m-b-5">NEW DEATHS</div><i class="ti-heart-broken widget-stat-icon"></i>
                                <div><i class="fa fa-level-up m-r-5"></i><small>21% Higher</small></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="ibox bg-danger color-white widget-stat">
                            <div class="ibox-body">
                                <h2 class="m-b-5 font-strong">5 951 640</h2>
                                <div class="m-b-5">CUMULATIVE DEATHS</div><i class="ti-heart-broken widget-stat-icon"></i>
                                <div><i class="fa fa-level-up m-r-5"></i><small>0,12% Higher</small></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="ibox">
                            <div class="ibox-body">
                                <div class="flexbox mb-4">
                                    <div>
                                        <h3 class="m-0">Daily Cases</h3>
                                        <div>By Region</div>
                                    </div>
                                    <div class="selectBox"> 
                                    <select id="regions">
                                        <option value="169965, 322143, 302018, 239988, 158504, 220009, 108364">Africa</option>
                                        <option value="156967, 302545, 222678, 259188, 313500, 189751, 158869">Americas</option>
                                        <option value="141910, 341343, 302036, 279968, 178590, 250570, 218064">Eastern Mediterranean</option>
                                        <option value="161150, 301140, 312441, 209818, 158504, 197089, 178364">Europe</option>
                                        <option value="172791, 262196, 292112, 219888, 171104, 306089, 183064">South-East-Asia</option>
                                        <option value="163363, 312383, 302048, 239988, 198054, 200511, 280364">Western Pacific</option>
                                    </select>
                                </div>
                                    <div class="d-inline-flex">
                                        <div class="px-3" style="border-right: 1px solid rgba(0,0,0,.1);">
                                            
                                        </div>
                
                                    </div>
                                </div>
                                <div>
                                    <canvas id="bar_chart" style="height:260px;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">PlaceHolder</div>
                            </div>
                            <div class="ibox-body">
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        <canvas id="doughnut_chart" style="height:160px;"></canvas>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="m-b-20 text-success"><i class="fa fa-circle-o m-r-10"></i>Text 1 52%</div>
                                        <div class="m-b-20 text-info"><i class="fa fa-circle-o m-r-10"></i>Text 2 27%</div>
                                        <div class="m-b-20 text-warning"><i class="fa fa-circle-o m-r-10"></i>Text 3 21%</div>
                                    </div>
                                </div>
                                <ul class="list-group list-group-divider list-group-full">
                                    <li class="list-group-item">Sample 1
                                        <span class="float-right text-success"><i class="fa fa-caret-up"></i> 24%</span>
                                    </li>
                                    <li class="list-group-item">Sample 2
                                        <span class="float-right text-success"><i class="fa fa-caret-up"></i> 12%</span>
                                    </li>
                                    <li class="list-group-item">Sample 3
                                        <span class="float-right text-danger"><i class="fa fa-caret-down"></i> 4%</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Vacination Statistics</div>
                            </div>
                            <div class="ibox-body">
                                <div id="world-map" style="height: 300px;"></div>
                                <table class="table table-striped m-t-20 visitors-table">
                                    <thead>
                                        <tr>
                                            <th>Country</th>
                                            <th>Number of Doses Recieved</th>
                                            <th>% of Population</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <img class="m-r-10" src="/static/img/flags/us.png" />USA</td>
                                            <td>755K</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" style="width:52%; height:5px;" aria-valuenow="52" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <span class="progress-parcent">52%</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img class="m-r-10" src="/static/img/flags/Canada.png" />Canada</td>
                                            <td>700K</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width:48%; height:5px;" aria-valuenow="48" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <span class="progress-parcent">48%</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img class="m-r-10" src="/static/img/flags/India.png" />India</td>
                                            <td>410K</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-danger" role="progressbar" style="width:37%; height:5px;" aria-valuenow="37" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <span class="progress-parcent">37%</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img class="m-r-10" src="/static/img/flags/Australia.png" />Australia</td>
                                            <td>304K</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-info" role="progressbar" style="width:36%; height:5px;" aria-valuenow="36" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <span class="progress-parcent">36%</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img class="m-r-10" src="/static/img/flags/Singapore.png" />Singapore</td>
                                            <td>203K</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar" role="progressbar" style="width:35%; height:5px;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <span class="progress-parcent">35%</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img class="m-r-10" src="/static/img/flags/uk.png" />UK</td>
                                            <td>202K</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-info" role="progressbar" style="width:35%; height:5px;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <span class="progress-parcent">35%</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img class="m-r-10" src="/static/img/flags/UAE.png" />UAE</td>
                                            <td>180K</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width:30%; height:5px;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <span class="progress-parcent">30%</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">PlaceHolder</div>

                            </div>
                            <div class="ibox-body">
                                <ul class="list-group list-group-divider list-group-full tasks-list">
                                    <li class="list-group-item task-item">
                                        
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Contributors</div>
                            </div>
                            <div class="ibox-body">
                                <ul class="media-list media-list-divider m-0">
                                    <li class="media">
                                        <a class="media-img" href="javascript:;">
                                            <img class="img-circle" src="/static/img/users/user.png" width="40" />
                                        </a>
                                        <div class="media-body">
                                            <div class="media-heading">Clifford Sepato </div>
                                            <div class="font-13">Lorem Ipsum is simply dummy text of the printing and typesetting.</div>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <a class="media-img" href="javascript:;">
                                            <img class="img-circle" src="/static/img/users/user.png" width="40" />
                                        </a>
                                        <div class="media-body">
                                            <div class="media-heading">James Fairgrieve </div>
                                            <div class="font-13">Lorem Ipsum is simply dummy text of the printing and typesetting.</div>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <a class="media-img" href="javascript:;">
                                            <img class="img-circle" src="/static/img/users/user.png" width="40" />
                                        </a>
                                        <div class="media-body">
                                            <div class="media-heading">Adam Fletcher </div>
                                            <div class="font-13">Lorem Ipsum is simply dummy text of the printing and typesetting.</div>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <a class="media-img" href="javascript:;">
                                            <img class="img-circle" src="/static/img/users/user.png" width="40" />
                                        </a>
                                        <div class="media-body">
                                            <div class="media-heading">Khadiza Begum </div>
                                            <div class="font-13">Lorem Ipsum is simply dummy text of the printing and typesetting.</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                    </div>
                </div>
                <style>
                    .visitors-table tbody tr td:last-child {
                        display: flex;
                        align-items: center;
                    }

                    .visitors-table .progress {
                        flex: 1;
                    }

                    .visitors-table .progress-parcent {
                        text-align: right;
                        margin-left: 10px;
                    }
                </style>
    
            <!-- END PAGE CONTENT-->
            <footer class="page-footer">
                <div class="font-13">2022 © <b>Covid 19 Dashboard by Lost the Plotly</b> - All rights reserved.</div>
                <div class="to-top"><i class="fa fa-angle-double-up"></i></div>
            </footer>
        </div>
    </div>
    
    <!-- BEGIN PAGA BACKDROPS-->
    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
    <!-- END PAGA BACKDROPS-->
    <!-- CORE PLUGINS-->
    <script src="/static/vendors/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/static/vendors/popper.js/dist/umd/popper.min.js" type="text/javascript"></script>
    <script src="/static/vendors/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/vendors/metisMenu/dist/metisMenu.min.js" type="text/javascript"></script>
    <script src="/static/vendors/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- PAGE LEVEL PLUGINS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="/static/vendors/chart.js/dist/Chart.min.js" type="text/javascript"></script>
    <script src="./static/vendors/jvectormap/jquery-jvectormap-2.0.3.min.js" type="text/javascript"></script>
    <script src="./static/vendors/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
    <script src="./static/vendors/jvectormap/jquery-jvectormap-us-aea-en.js" type="text/javascript"></script>
    <!-- CORE SCRIPTS-->
    <script src="static/js/app.min.js" type="text/javascript"></script>
    <!-- PAGE LEVEL SCRIPTS-->
    <script src="/static/js/scripts/dashboard_1_demo.js" type="text/javascript"></script>
</body>

</html>